*{margin:0;padding:0;box-sizing:border-box;font-family:sans-serif;}

.page-wrapper.login,.page-wrapper.register{
  display:flex;flex-direction:column;min-height:100vh;width:100%;
  justify-content:center;align-items:center;background-size:cover;background-position:center;
}

.page-wrapper.login{
  background-image:linear-gradient(rgba(0,0,0,0.364),rgba(0,0,0,0.364)),url(https://blogger.googleusercontent.com/img/a/AVvXsEgySwlYtG5-fwpYIiM9b1WTLEp7bPLTjOrRjMCkSB0e8YHWAHyjXM6-XVVyEaAXU_Z__nDEDV6X2eiCZDi8yYLCL2C2yQ9x6pELBxmoou9Voba0a0hl1tyfLqasGz4Mzuc3Z0pFjq3l3EZ0WHr0R9aq1JYweQuVZew0veddgPSwcVlvGXRnx_YXOHQMdxqp);
}

.page-wrapper.register{
  background-image:linear-gradient(rgba(0,0,0,0.907),rgba(0,0,0,0.364)),url(https://static.vecteezy.com/system/resources/previews/011/764/329/non_2x/liquid-flow-purple-blue-3d-neon-lava-lamp-geometric-background-for-banner-card-ui-design-or-wallpaper-gradient-mesh-bubble-in-the-shape-of-a-wave-drop-fluid-colorful-abstract-shapes-free-vector.jpg);
}

header{position:fixed;top:0;left:0;width:100%;padding:20px 100px;display:flex;justify-content:space-between;align-items:center;z-index:99;}
.logo{font-size:0.5cm;color:#fff;user-select:none;}

.wrapper{
  width:90%;max-width:400px;min-height:440px;background:transparent;
  border:2px solid rgba(255,255,255,.5);border-radius:20px;backdrop-filter:blur(20px);
  box-shadow:0 0 30px rgba(0,0,0,.5);display:flex;justify-content:center;align-items:center;
  overflow:visible;padding-bottom:20px;margin-bottom:30px;
}

.wrapper .form-box{width:100%;padding:40px;}
.wrapper .icon-close{position:absolute;top:0;right:0;width:40px;height:40px;background:#00abe9;font-size:1.3cm;color:#fff;display:flex;justify-content:center;align-items:center;border-bottom-left-radius:20px;cursor:pointer;z-index:1;}
.form-box h2{font-size:1cm;color:#f4f6f7;text-align:center;}

.input-box{position:relative;width:100%;height:50px;border-bottom:2px solid #97a0a8;margin:30px 0;}
.input-box label{position:absolute;top:50%;left:5px;transform:translateY(-50%);font-size:0.3cm;color:#f8f8f8;font-weight:500;pointer-events:none;transition:.5s;}
.input-box input:focus~label,input:valid~label{top:-5px;}
.input-box input{width:100%;height:100%;background:transparent;border:none;outline:none;font-size:0.3cm;color:#fff;font-weight:600;padding:0 35px 0 5px;}
.input-box .icon{position:absolute;right:8px;font-size:0.5cm;color:#f7f1f1;line-height:57px;}

.remember-forgot{font-size:0.3cm;color:#fff;font-weight:500;margin:-15px 0 15px;display:flex;justify-content:space-between;}
.remember-forgot label{display:flex;align-items:center;}
.remember-forgot label input{accent-color:#fafafa;margin-right:3px;}
.remember-forgot a{color:#fff;font-size:0.3cm;text-decoration:none;}
.remember-forgot a:hover{text-decoration:underline;}

.btn{width:100%;height:1cm;background:#00abe9;border-radius:3px;cursor:pointer;font-size:0.4cm;color:#fff;border:2px solid rgba(255,255,255,0.5);}

.login-register{font-size:0.3cm;color:#fff;text-align:center;font-weight:500;margin:25px 0 10px;}
.login-register p a{color:#fff;text-decoration:none;font-weight:600;}
.login-register p a:hover{text-decoration:underline;}
